.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
    text-align: center;
    text-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: transparent;
    color: #fff;

    border: none;
    border-radius: 10px;

    padding: 14px 24px;

    cursor: pointer;
    font-size: 1rem;

    transition: all;
    transition-duration: 0.25s;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 1;
}

.button:focus {
    outline: none;
}

.btn-primary {
    background-color: rgba(var(--primary-color), 0.75);
    border: 1px solid #ffffff26;
    color: #fff;
}

.btn-primary:focus {
    box-shadow: 0 0 0 4px rgba(var(--primary-color), 0.5);
}

.btn-success {
    background-color: rgba(var(--success-color), 0.75);
    border: 1px solid #ffffff26;
    color: #fff;
}

.btn-success:focus {
    box-shadow: 0 0 0 4px rgba(var(--success-color), 0.5);
}

.btn-danger {
    background-color: rgba(var(--danger-color), 0.75);
    border: 1px solid #ffffff26;
    color: #fff;
}

.btn-danger:focus {
    box-shadow: 0 0 0 4px rgba(var(--danger-color), 0.5);
}

.button[disabled],
.button[aria-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}