.onboarding {
    z-index: 1000;

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transition: all;
    transition-duration: 0.2s;

    background-color: #111;
    color: #fff;
}

.onboarding>* {
    font-size: 1.5rem;
    text-align: center;
}