#items {
    /* 20px is the margin left + right */
    width: calc(100% - 20px);
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    overflow-x: hidden;
}

.redeems-content-spinner {
    /* 20px is the margin left+right */
    width: calc(100vw - 20px);
    height: 100dvh;
    /* Some older browsers don't support the
       dvh property and we need a fallback value. */
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.redeemable-item {
    position: relative;

    padding: 10px;

    width: 100%;
    aspect-ratio: 1 / 1;

    background: #333;
    color: #eee;

    border-radius: var(--redeem-card-border-radius);
    border: 1px solid #ffffff1A;

    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 1rem;

    cursor: pointer;

    transition: all;
    transition-duration: 0.2s;

    -webkit-user-select: none;
    user-select: none;

    overflow: hidden;
}

.redeemable-item:hover {
    background: rgba(var(--primary-color), 0.5);
}

.redeemable-item:active {
    background-color: rgba(var(--primary-color), 0.75);
}

.redeemable-item:focus {
    outline: none;
}

.redeemable-item img {
    width: 75%;
    height: 75%;

    object-fit: contain;

    border-radius: 10px;
}

.redeemable-item-disabled {
    filter: grayscale(100%);

    opacity: 0.5;

    pointer-events: none;
}

.redeemable-item-descriptor {
    position: absolute;

    padding: 10px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

    border-radius: var(--redeem-card-border-radius);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.redeemable-item-title {
    font-size: 1.15rem;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 0 5px #000;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
}

.redeemable-item-price-wrapper {
    position: absolute;
    top: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 2px 6px;
    border: 1px solid hsl(300, 45%, 45%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 3px;

    transition: all;
    transition-duration: 0.15s;

    transform: translateY(-150%);
}

.redeemable-item:hover .redeemable-item-price-wrapper,
.redeemable-item:focus .redeemable-item-price-wrapper {
    transform: translateY(0%);
}
.mobile .redeemable-item .redeemable-item-price-wrapper {
    transform: translateY(0%) !important;
}

.redeemable-item-price-wrapper>img {
    width: 20px;
    height: 20px;

    object-fit: contain;
}

.redeemable-item-price {
    color: #333;
    text-shadow: 0 0 3px #333;
}