#items {
    /* 20px is the margin left + right */
    width: calc(100% - 20px);
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}

.redeems-content-spinner {
    /* 20px is the margin left+right */
    width: calc(100vw - 20px);
    height: 100dvh;
    /* Some older browsers don't support the
       dvh property and we need a fallback value. */
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.redeemable-item {
    padding: 10px;

    background-color: rgba(var(--primary-color), .8);
    color: #eee;

    border-radius: 10px;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1rem;

    cursor: pointer;

    transition: all;
    transition-duration: 0.2s;

    -webkit-user-select: none;
    user-select: none;
}

.redeemable-item:hover {
    background-color: rgba(var(--primary-color), 0.5);
}

.redeemable-item:active {
    background-color: rgba(var(--primary-color), 1);
}

.redeemable-item:focus {
    outline: none;
}

.redeemable-item img {
    width: 128px;
    height: 128px;

    object-fit: contain;

    border-radius: 10px;
}