* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #111;
    /* max-width: 318px;
    max-height: 396px; */
}

h1 {
    color: white;
    text-align: center;
}

#buttons {
    width: calc(100% - 20px);
    /* 20px is the margin left + right */
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
    height: 100vh;
}

#modal-image {
    width: 20%;
    object-fit: contain;
    border-radius: 10px;
}

.elem {
    background-color: purple;
    color: #eee;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;
    user-select: none;
}

.elem:hover {
    background-color:rgb(171, 22, 171);
}

.elem img {
    width: 50%;
    height: 45%;
    object-fit: cover;
    border-radius: 10px;
}

#onboarding {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 0.2s;
    background-color: #111;
    color: #eee;
}

.modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 0.2s;
}

.modal .content {
    background-color: #111;
    min-height: 50%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2dvh;
    font-size: 1rem;
}

.content p {
    width: 75%;
    text-align: center;
}

button {
    background-color: #333;
    border-style: none;
    border-radius: 5px;
    color: #eee;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
    min-height: 50px;
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;
}

button:hover {
    border-style: solid;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 10px;
}

.confirm {
    background-color: darkgreen;
}

.cancel {
    background-color: darkred;
}

.twitch {
    background-color: purple;
}

@media screen and (min-width: 600px){
    .row .elem {
        font-size: 1.5rem;
        min-height: 200px;
    }
}
